<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         displayDetailsOnTestsThatTriggerWarnings="true">
    <testsuites>
        <testsuite name="AplikasiDataMahasiswaTestSuite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="DB_HOST" value="${DB_HOST}"/>
        <env name="DB_USER" value="${DB_USER}"/>
        <env name="DB_PASS" value="${DB_PASS}"/>
        <env name="DB_NAME" value="${DB_NAME}"/>
    </php>
</phpunit>